<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Persons</a>
            <ng-template ngbNavContent>
              <app-person-list></app-person-list>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Create Person</a>
            <ng-template ngbNavContent>
              <app-create-person></app-create-person>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
